@import url("reset.css");
@import url("../font/font.css");
@import url("modal.css");
@import url("header.css");
@import url("visual.css");
@import url("service.css");
@import url("about.css");
@import url("business.css");
@import url("footer.css");
@import url("responsive.css");
@import url("modal.css");

/* 공통 영역 */
.inner {
  width: 95%;
  max-width: 1420px;
  margin: auto;
  /* background-color: rgb(255, 215, 215); */
}

/* 폰트 */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
th,
td,
div,
span,
label,
input,
select,
textarea,
button,
li,
caption {
  font-family: "Poppins", "Pretendard", sans-serif;
}

/* 윈도우, 스크롤 x */
html.active {
  overflow: hidden;
}
